/* app.css */

/* Style for the header */
header {
  background-color: #1b3059;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Style for the website name */
h1 {
  text-align: left;
  text-decoration: dotted;
  margin: 0;
 

}

/* Style for the navigation links */
nav ul {
  text-align: right;
  list-style-type: none;
  text-shadow: #08276a;
  padding: 0;
}
nav ul:hover{
 text-align: right;

}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

/* Footercss */


/* styles.css */

.footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}


/* Courses.css */

.courses-container {
  position: relative;
}

.background-image {
  background-image: url('C:\Users\DELL\Desktop\IPExperiments1,2\collegehomepage\collegehomepage\collegehomepage\public\courses.png'); /* Replace with your actual image path */
  background-size: cover;
  background-position: center;
  height: 500px;
  position: relative;
}

.centered-text {
 
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.centered-text h2 {
  font-size: 2em;
}

.centered-text input {
  width: 300px;
  padding: 10px;
  font-size: 1em;
}


